* {
    margin: 0;
}

.hd {
    width: 100%;
    height: 990px;
    background-image: url('images/header/1.png');
    position: relative;
}
<<<<<<< HEAD

=======
 a.hand:hover   {
     cursor:hand
}   
>>>>>>> 1f0b8e21327528e9bc0bdc7eb80b9e9a4afe83a1
header .title {
    font-size: 62px;
    width: 100%;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    text-align: center;
    position: absolute;
    top: 210px;
}

header .text p {
    text-align: center;
    padding: 0 300px 0 300px;
    font-size: 20px;
    font-family: "Montserrat";
    color: rgba(255, 255, 255, 0.702);
    text-align: center;
    position: absolute;
    top: 345px;
}

.box {
    width: 970px;
    height: 250px;
    position: absolute;
    border: rgb(119, 113, 113) 1px solid;
    top: 530px;
    left: 50%;
    transform: translatex(-50%);
}

.box .message {
    width: 100%;
    color: white;
    font-size: 16px;
    text-align: center;
    position: absolute;
    top: 45px;
}

.box .message p:last-child {
    font-size: 12px;
    color: rgba(220, 220, 220, 0.664);
    margin: 15px 0;
}

.box form {
    width: 100%;
    position: absolute;
    bottom: 40px;
    text-align: center;
}

.box form input {
    width: 290px;
    height: 50px;
    margin: 10px;
    border: rgb(119, 113, 113) 1px solid;
    background-color: transparent;
}

.box form input:last-child {
    width: 125px;
    height: 50px;
    font-weight: bold;
    background-color: white;
    border: rgb(119, 113, 113) 1px solid;
}

.part1 {
    width: 100%;
    height: 710px;
}

.part1 div {
    width: 100%;
    font-family: "Montserrat";
    color: black;
    text-align: center;
}

.part1 div p {
    margin: 45px 0 25px 0;
}

.part1 div p small {
    font-size: 14px;
}

.part1 div p big {
    font-size: 42px;
    font-weight: lighter;
}

.part1 .content {
    width: 970px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    top: 50px;
}

.part1 .content div {
    width: 400px;
    text-align: left;
    display: flex;
    align-items: flex-start;
    margin: 45px 0;
}

.part1 .content div section {
    margin-left: 35px;
    position: relative;
    top: -5px;
}

.part1 .content div section p {
    margin: 0;
}

.part1 .content div section p:first-child {
    font-size: 20px;
    font-family: "Montserrat";
    color: black;
    font-weight: bolder;
    margin-bottom: 25px;
}

.part1 .content div section p:last-child {
    font-size: 16px;
    font-family: "Montserrat";
    color: black;
    font-weight: lighter;
}

.part2 {
    width: 100%;
    height: 800px;
    background-image: url('images/part2/1.png');
}

.part2 .content {
    width: 820px;
    margin: 0 auto;
    position: relative;
    top: 150px;
}

.content div:first-child {
    width: 390px;
}

.content div section p:first-child {
    color: white;
    font-size: 42px;
    margin-bottom: 16px;
    text-align: left;
}

.content div section p:last-child {
    width: 370px;
    color: white;
    font-size: 18px;
    font-weight: lighter;
}

.content div:last-child {
    width: 550px;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 50px;
}

.content div button {
    width: 250px;
    height: 60px;
    color: white;
    background-color: transparent;
    border: 1px solid grey;
}

.part3 {
    width: 100%;
    height: 480px;
    text-align: center;
    border-bottom: rgb(238, 235, 235) 1px solid;
}

.part3 div {
    display: flex;
    align-items: flex-start;
    margin: 0 auto;
    width: 80%;
}

.part3 h1 {
    font-size: 42px;
    font-family: "Montserrat";
    margin: 80px 0 80px 0;
    font-weight: lighter;
}

.part3 div div {
    width: 250px;
    display: block;
}

.part3 div div p {
    font-size: 16px;
    font-family: "Montserrat";
    text-align: center;
    margin-top: 40px;
}

.part4 {
    width: 100%;
    height: 1000px;
}

.part4 div {
    width: 72%;
    height: 90%;
    margin: 0 auto;
    position: relative;
    top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.part4 div div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.part4 div div section {
    width: 310px;
}

.part4 div div section h1 {
    font-size: 20px;
}

.part4 div div section p {
    margin-top: 30px;
}

.part5 {
    width: 100%;
    height: 1000px;
    text-align: center;
    border-bottom: rgb(238, 235, 235) 1px solid;
}

.part5 section {
    width: 700px;
    margin: 0 auto;
}

.part5 section h1 {
    margin: 80px 0 32px 0;
    font-size: 42px;
    font-weight: lighter;
}

.part5 section p {
    margin: 0px 0 50px 0;
    font-size: 16px;
    font-weight: lighter;
}

.part5 div {
    width: 970px;
    height: 680px;
    margin: 0 auto;
}

.part5 div div {
    width: 440px;
    height: 310px;
    position: relative;
    float: left;
    margin: 15px;
}

.part5 div div div {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: 440px;
    height: 310px;
}

.part5 div div div img {
    opacity: 0;
}

.part5 div div img {
    width: 440px;
    height: 310px;
    padding: 0;
}

.part5 div div div img:hover {
    opacity: 1;
}

.part6 {
    width: 100%;
    height: 700px;
}

.part6 div {
    width: 970px;
    display: flex;
    margin: 0 auto;
    position: relative;
    top: 50px;
}

.part6 div .box {
    position: static;
    width: 470px;
    height: 570px;
    text-align: center;
    border: rgb(238, 235, 235) 1px solid;
    display: flex;
    flex-direction: column;
}

.part6 div .box h1 {
    font-size: 16px;
    margin: 50px 0 35px 0;
    font-weight: bold;
}

.part6 div .box form input {
    width: 370px;
    height: 50px;
    border: rgb(238, 235, 235) 1px solid;
    margin: 15px 0;
    padding: 0;
    background-color: transparent;
}

.part6 div .box form input:nth-last-child(2) {
    width: 370px;
    height: 145px;
}

.part6 div .box form input:last-child {
    background-color: black;
    color: white;
}

.part6 div .content {
    position: static;
    width: 470px;
    height: 570px;
}

.part6 div .content h1 {
    font-size: 42px;
    font-weight: lighter;
    margin: 20px 0;
<<<<<<< HEAD
}

.part6 div .content p {
    font-size: 16px;
    font-weight: lighter;
}

.part6 div .content div {
    width: 360px;
    height: 360px;
    left: 55px;
    font-weight: bold;
    flex-direction: column;
}

=======
}

.part6 div .content p {
    font-size: 16px;
    font-weight: lighter;
}

.part6 div .content div {
    width: 360px;
    height: 360px;
    left: 55px;
    font-weight: bold;
    flex-direction: column;
}

>>>>>>> 1f0b8e21327528e9bc0bdc7eb80b9e9a4afe83a1
.part6 div .content div div {
    position: static;
    width: 100%;
    margin: 30px 0;
    flex-direction: row;
    align-items: flex-start;
}

.part6 div .content div div p {
    padding: 0 8px;
    background-color: white;
    font-size: 16px;
    font-weight: bold;
}

.ft {
    width: 100%;
    height: 410px;
    background-color: black;
}

.ft div {
    width: 85%;
    margin: 0 auto;
    color: white;
    display: flex;
    position: relative;
    justify-content: space-between;
    top: 80px;
<<<<<<< HEAD
}

.ft div div {
    position: static;
}

=======
}

.ft div div {
    position: static;
}

>>>>>>> 1f0b8e21327528e9bc0bdc7eb80b9e9a4afe83a1
.ft div div ul {
    list-style-type: none;
    padding: 0;
}

.ft div div ul li {
    font-size: 16px;
    font-weight: lighter;
    margin: 25px 0;
}

.ft div div ul li:first-child {
    font-size: 14px;
    font-weight: bold;
}

.signli {
    font-size: 14px;
    font-weight: bold;
    margin-top: 25px;
    list-style-type: none;
}

.signp {
    font-size: 16px;
    font-weight: lighter;
    margin: 25px 0;
}

.ft div div:last-child {
    position: static;
    flex-direction: column;
    justify-content: flex-start;
}

.ft div div:last-child div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0;
    width: 100%;
}

.ft div div:last-child div a img {
    margin: 15px;
<<<<<<< HEAD
}
=======
}
>>>>>>> 1f0b8e21327528e9bc0bdc7eb80b9e9a4afe83a1
