header {
    width: 100%;
    background-color: black;
    min-width:960px;
    height: 150px;
}

.logo{
  
}

.top {
    width: 1000px;
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding: 30px 0;
}

.link {
    float: right;
    margin: 0 auto;
    font-size: 14px;
    color: white;
}

.banner {
    width: 100%;
    height: 350px;
    margin: 0 auto;
    background-color: #00ff00;
}

.banner ul {
    padding-left: 0;
    margin-top: 0;
}

.banner li {
    float: right;
    list-style-type: none;
    width: 30px;
    margin-right: 20px;
}

.banner li a {
    display: inline-block;
    text-decoration: none;
    width: 100%;
    line-height: 2.5;
    background-color: white;
    border: 1px solid gold;
    color: black;
    text-align: center;
}

.banner li a:focus,
.banner li a:hover {
    /*可视化反馈*/
    font-weight: bold;
    height: 55px;
}

.banner li a.active {
    font-weight: bold;
    height: 55px;
}

.banner .panels {
    height: 280px;
    position: relative;
    clear: both;
}

.banner article {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    color: white;
    background-color: green;
}

.banner .active-panel {
    z-index: -1;
    /*由于 z-index 是 -1，因此它在文本的后面出现。*/
}

.navi {
    width: 960px;
    margin: 0 auto;
}

.navi ul {
    padding-left: 0;
    margin-top: 0;
}

.navi li {
    float: left;
    list-style-type: none;
    width: 150px;
}

.navi li a {
    display: inline-block;
    text-decoration: none;
    width: 100%;
    line-height: 3;
    background-color: #c0c0a0;
    border: 1px solid grey;
    color: black;
    text-align: center;
    border-radius: 30px 30px 0 0;
}

.navi li a:focus,
.navi li a:hover {
    /*可视化反馈*/
    font-weight: bold;
}

.navi li a.active {
    background-color: white;
    font-weight: bold;
    border-bottom: white;
}

.navi .content {
    position: relative;
    width: 100%;
    display: -webkit-flex;
    display: flex;
}

.navi .box {
    margin: 8px 7px 0 0;
    border: 1px solid grey;
    position: relative;
    height: 70px;
    padding: 80px;
    text-align: center;
}

.box1 {
    -webkit-flex: 1;
    flew: 1;
}

.box2 {
    -webkit-flex: 2;
    flew: 2;
}

.navi .active-content {
    z-index: 1;
}

.footer {
    background-color: grey;
    color: white;
    text-align: center;
    padding: 30px;
    margin-top: 30px;
    font-size: 14px;
    height: 80px;
}
